@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.simple-keyboard {
  max-width: 500px;
}

.simple-keyboard.myTheme1 {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
}

.simple-keyboard.myTheme1 .hg-button {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(129, 131, 132, 0.5);
  color: white;
  font-weight: bold;
  border: none;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: #565656;
  color: white;
}

#root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
  background: #565656;
}
